# Maven 构建产物
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# 日志
logs/
*.log

# 编译输出
*.class
*.jar
*.war
*.ear

# 临时文件
*.tmp
*.temp
null
